doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title WebSocket Tutorial
        link(link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body
        header
            h1 WebSocket Tutorial
        main
            form
                input(type="text", required)
                button Send
        script(src="/public/js/app.js")